@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.fa-paperclip {
    content: "\f0c6";
    color: rgba(151, 151, 151, 1);
    font-size: 22px;
    transition: 0.3s;
}
.fa-paperclip:hover {
    color: rgb(118, 118, 118);
}
.fa-paperclip:active {
    color: rgba(72, 121, 95, 1);
}

.fa-trash-can {
    content: "\f2ed";
    color: rgba(151, 151, 151, 1);
    font-size: 22px;
    transition: 0.3s;
}
.fa-trash-can:hover {
    color: rgb(147, 80, 80);
}


.item {
    width: 330px;
    margin:auto;
    background-color: rgba(243, 240, 240, 1);
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;

    .item__top {
        display: flex;
        justify-content: space-between;
        .item__taskName {
            width: 240px;
            word-wrap: break-word;
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 24px;
            color:rgba(71, 71, 71, 1);
        }
    }
    .item__description {
            word-wrap: break-word;
            margin-bottom: 15px;
            color:rgba(71, 71, 71, 1);
    }
    .item__person {
        word-wrap: break-word;
        margin-bottom: 15px;
        width: fit-content; 
        color:rgba(71, 71, 71, 1);
        background-color: rgba(217, 217, 217, 1);
         padding: 7px;
         border-radius: 10px;
    }
    .item__bottom {
        display: flex;
        justify-content: space-between;
        .item__deadline {
            color: rgba(71, 71, 71, 1);
            background-color: rgba(217, 217, 217, 1);
            padding: 7px;
            border-radius: 10px;
        }
    }
    
}
.item:last-child {
    margin-bottom: 0;
}
.item:active {
    cursor: grabbing;
}

.item.pinned {
    background-color: rgb(175, 194, 185);
    .item__taskName {
        color: rgba(243, 240, 240, 1);
    }
    .item__description {
        color: rgba(243, 240, 240, 1);
    }
.fa-trash-can {
    color: rgba(243, 240, 240, 1);
}
.fa-paperclip{
    color: rgba(243, 240, 240, 1);
}
}
.item.hide {
    display: none;
}